body{
	font-family: sans-serif;
	margin: 0 8% 0 8%;
	padding: .3rem;
	background-color: yellow;
	
}

header{
	font-family: sans-serif;
	height: 5%;
	font-size: 90%;
	text-transform: uppercase;
	text-align: center;
	color: #ff0;
	padding-top: .7rem;
	margin: 0 8% 0 8%;
	background-color: #993399;
}
.mainbody{
	font-family: sans-serif;
	background-color: aliceblue;
	padding: .3rem;
	margin:  2% 8% 2% 8%;

}
.form{
	text-align: center;
	}
.formfield{
	margin: 0rem;
}
.clear{
	clear: both;
}
.center{
	text-align: center;
}
.buttons{
	padding: 0.3rem 0;	
}
.buttons input{
	cursor: pointer;
}
.rodape{
	font-family: sans-serif;
	text-align: center;
	padding: .4rem 0rem .2rem .5rem; 
	background-color: #993399;
	margin: 0 8% 0% 8%;
	
}
input:invalid {
	border: 2px dashed red;
  }
  
  input:invalid:required {
	border: 2px dashed red;
  }
  
  input:valid {
	border: 1px solid black;
  }
  
